bundle.js
.eslintrc.js

# Transpiled code
/cartridges

# Compiled web component bundle file
src/cartridges/int_adyen_controllers/cartridge/js/pages/checkout/bundle.js
src/cartridges/app_adyen_SFRA/cartridge/client/default/js/bundle.js

# Extended SFRA core file
src/cartridges/app_adyen_SFRA/cartridge/client/default/js/checkout/checkoutSFRA5.js
src/cartridges/app_adyen_SFRA/cartridge/client/default/js/checkout/checkoutSFRA6.js
src/cartridges/int_adyen_SFRA/cartridge/controllers/middlewares/checkout_services/placeOrder.js
src/cartridges/int_adyen_SFRA/cartridge/adyen/webhooks
src/cartridges/int_adyen_SFRA/cartridge/adyen/utils/adyenHelper.js
src/cartridges/int_adyen_SFRA/cartridge/adyen/scripts/pos/adyenTerminalApi.js

# Test files
*.test.js

