.paymentMethod {
  list-style-type: none;
  margin: 0.5em 0 0.5em 0;
}

.paymentMethod_img {
  margin: 0 0.25em 0 0.25em;
}

.additionalFields {
  display: inline-block;
  margin: 0 0 0 0.5em;
  width: 100%;
}

.security-code-input .adyen-checkout__label__text {
  display: none !important;
}

.security-code-input .adyen-checkout__card__exp-date__input--oneclick {
  display: none !important;
}

.security-code-input .adyen-checkout__field {
  margin: 0 !important;
  width: 100%;
}

.security-code-input .adyen-checkout__card__exp-cvc .adyen-checkout__field:first-child {
  display: none;
}

.adyen-checkout__input-wrapper .adyen-checkout__dropdown__list {
  z-index: 10;
}

#paymentMethodsUl {
  width: 80%;
  padding-inline-start: 0;
  margin: auto;
}
