.paymentMethod {
  list-style-type: none;
  margin: 10em 0 10em 0;
}

.paymentMethod_img {
  margin: 0 5em 0 5em;
}

.additionalFields {
  display: inline-block;
  margin: 0 0 0 10em;
  width: 100%;
}

.security-code-input .adyen-checkout__label__text {
  display: none !important;
}

.security-code-input .adyen-checkout__card__exp-date__input--oneclick {
  display: none !important;
}

.security-code-input .adyen-checkout__field {
  margin: 0 !important;
  width: 100%;
}

.security-code-input .adyen-checkout__card__exp-cvc .adyen-checkout__field:first-child {
  display: none;
}
