.data-checkout-stage[data-checkout-stage] .card.terms-and-conditions {
    display: none;
}
.data-checkout-stage[data-checkout-stage=customer] .card.terms-and-conditions {
    display: none;
}
.data-checkout-stage[data-checkout-stage=shipping] .card.terms-and-conditions {
    display: none;
}
.data-checkout-stage[data-checkout-stage=payment] .card.terms-and-conditions {
    display: none;
}
.data-checkout-stage[data-checkout-stage=submitted] .card.terms-and-conditions {
    display: none;
}
.data-checkout-stage[data-checkout-stage=placeOrder] .card.terms-and-conditions {
    display: block;
}