/*Credit Cards*/

.additionalFields .adyen-checkout__label, .adyen-checkout__label__text {
    float: none;
    width: 100%;
    text-align: left;
}

.form-horizontal #newCard label {
    float: none;
    width: 100%;
    text-align: left;
}

.creditCard {
    margin-left: 27%;
}

.paymentMethod {
    list-style-type: none;
    margin: 0.5em 0 0.5em 0;
}

.paymentMethod_img {
    margin: 0 0.3125em 0 0.3125em;
    vertical-align: middle;
}

.additionalFields {
    display: inline-block;
    margin: 0 0 0 0.625em;
}

.hiddenFields {
    display: none;
}

.security-code-input .adyen-checkout__field:first-child {
    display: none;
}

/*Checkout Components*/

.checkoutComponent {
    display:none;
    margin-top: 1.25em;
}

#component_ach .form-row label {
    float: left;
}

#type {
    list-style-type: none;
    line-height: 3.125em;
}

#type .form-row {
    margin: .5rem 0 .5rem;
}

#ssnValue {
    background: #fff;
    border: 0.0625em solid #b9c4c9;
    border-radius: 0.1875em;
    color: #001b2b;
    display: block;
    font-family: inherit;
    font-size: 1em;
    height: 3em;
    outline: none;
    padding: 0.3125em 0.5em;
    position: relative;
    transition: border .2s ease-out,box-shadow .2s ease-out;
    width: 12.5em;
}

#ssn_klarna {
    margin-top: 1em;
}

/*Summary page*/

.summary-label{
    font-weight: bold;
}

.adyen-payment-details {
    max-width: 25em;
    margin: auto;
}

/* Custom Adyen */

.payment-method #type {
    margin-left: 22%;
}

.payment-method .issuer {
    margin: 1% 5%;
    display: none;
}

.payment-method-options .form-row {
    width: 25%;
}

.payment-method #type .logo {
    position: absolute;
}

.payment-method #type label {
    display: inline;
    float: none;
    width: auto;
}

.payment_method_label{
    padding: 0.75em 6em 0;
}

.openinvoiceInput {
    display: none;
}

.adyen-checkout__field {
    display: table;
}

.card-error {
    display: none;
}

/* Custom Adyen SFRA */
.adyen-checkout__input-wrapper .adyen-checkout__dropdown__list {
    z-index: 10;
}

#paymentMethodsUl {
    width: 80%;
    padding-inline-start: 0;
    margin: auto;
}

#adyenModalDialog {
    pointer-events: auto;
    background: white;
}

#amazonModal {
    opacity: 0.95;
}

#amazonContainerSG {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

/* The Modal (background) */
#action-modal-SG {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.action-modal-content-SG {
    background: white;
    margin-top: 10%;
    margin-left: 40%;
    width: max-content;
}
