.paymentMethod {
  list-style-type: none;
  margin: 0.5em 0 0.5em 0;
}

.paymentMethod_img {
  margin: 0 0.25em 0 0.25em;
}

.additionalFields {
  display: inline-block;
  margin: 0.5em;
  width: 100%;
}

.adyen-checkout__input-wrapper .adyen-checkout__dropdown__list {
  z-index: 10;
}

#paymentMethodsUl {
  width: 80%;
  padding-inline-start: 0;
  margin: auto;
}

#adyenModalDialog {
  pointer-events: auto;
}

.expressComponent.disabled {
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none;
}

.acceptShippingLabel {
  display:contents;
}
