.input-fields{
    padding-left: 48px;
    padding-right: 51px;
}

.first-subtitle{
    padding-left: 48px;
    padding-right: 51px;
}

.radio-buttons{
    padding-left: 48px;
}

.form-title{
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #00112C;
    padding-left: 48px;
    padding-right: 51px;
}

.links-header {
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #20304C;
}

.card-body .card-title {
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #00112C;
    height: 32px;
    padding-left: 48px;
    padding-right: 51px;
}

.card-body .card-subtitle {
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #69778C;
    width: 699px;
}

.form-group .form-text {
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #20304C;
    padding-left: 48px;
    padding-right: 51px;
}

.form-check-input, .form-check-label{
    width: 26px;
    height: 20px;

    font-family: 'Fakt';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    color: #20304C;
}

.list-group .navigation-item {
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #394962;
}

.row .sticky-top {
    top: 10%;
    z-index: 10;
}

.btn-toolbar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 107px;
    gap: 10px;

    width: 1434px;
    height: 75px;
    left: 2px;
    top: 92px;

    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
}

.btn-toolbar .sec-group{
    padding-left: 70%;
}

.btn-toolbar .sec-group .btn-light{
    width: 135px;
    height: 28px;

    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;

    align-items: center;

    background: #FFFFFF;
    border: 1px solid #F3F2F2;
    color: #394962;

    border-radius: 6px;
    margin-top: 10px;
}

.img-fluid{
    margin-top: 10px;
}

.first, .second, .third {
    outline: none;
    border: 0 !important;
    box-shadow: none !important;
}

.bi-eye, .bi-eye-slash{
    position: absolute !important;
    margin-top: 6px !important;
    margin-right: 70px !important;
    left: 75px !important;
}

#notificationsPassword{
  padding-left: 30px;  
}

#toggleApi{
    margin-top: 5px !important;
    left: 75px;
}

#apiKey{
    padding-left: 30px;  
}

#hmacKey{
    padding-left: 30px;  
}

.line-divider{
    padding-left: 48px;
    padding-right: 51px;
}

.switch-button{
    position: absolute;
    left: 80%;
    right: auto;
    top: auto;
    bottom: auto;
    border-radius: 8.5px;
}

html {
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.list-group-item {
    border: 1.0px solid rgb(204, 204, 204);
}

.list-group-item:hover{
    background: rgb(184, 225, 252);
}

.form-buttons{
    padding-right:5%;
    padding-top:9px;
}

#settingsFormCancelButton{
    top:20px;
    
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;

    display: flex;
    align-items: center;

    color: #394962;
    border-radius: 6px;
}

#settingsFormSubmitButton{
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;

    display: flex;
    align-items: center;
    border-radius: 6px;
}

#bm_content_column{
    padding-bottom: 0;
    padding-left: 0;
}

#saveChangesAlert{
    width: 420px;
    left: 0;
    margin: auto; /* Centers alert component */
    right: 0;
    text-align: center; 
    top: 1em;
    
    background: #00112C;
    box-shadow: 0px 8px 8px rgba(0, 17, 44, 0.02), 0px 2px 4px rgba(0, 17, 44, 0.04);
    border-radius: 8px;
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;
    height: auto;
    
    align-items: center;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding: 0.15rem;
}

#saveChangesAlert .img-fluid {
    position: static;
    padding-bottom: 12px;
}

#notSavedChangesAlert .img-fluid {
    position: static;
    padding-bottom: 12px;
}

#notSavedChangesAlert{
    left: 0;
    margin: auto; /* Centers alert component */
    position: absolute; /* So that it will display relative to the entire page */
    right: 0;
    text-align: center; 
    top: 1em;
    
    background: #00112C;
    box-shadow: 0px 8px 8px rgba(0, 17, 44, 0.02), 0px 2px 4px rgba(0, 17, 44, 0.04);
    border-radius: 8px;
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: #FFFFFF;

}

.footer{
    position: absolute;
    height: 52px;
}

#settingsFormCancelButton{
    top:20px;
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;

    display: flex;
    align-items: center;
    color: #394962;

    border-radius: 6px;
    background: #FFFFFF;
    border: 1px solid #DCE0E5;
}

#settingsFormSubmitButton{
    bottom:10px;

    font-family: 'Fakt';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

#logos{
    margin: 10px 0;
    justify-content:flex-start;
    display:flex;
    width:100%;
    height:100%;
    left:3.2%;
}

#adyen-logo{
    margin-right: 20px;
}


#apiKey{
    overflow: hidden;
    text-overflow: ellipsis;
}

#invalidFeedbackApi{
    position: absolute;
    bottom: 60px;
}

#testConnectionButton{
    position: relative;
    bottom: -10px;
}

.form-group .wrapper-class{
    width:320px;
    height: 69px;
    margin-top:10px;   
    padding-left: 48px;
    padding-right: 51px;
}

#fileDropBoxCharitybackground, #fileDropBoxGivingLogo{
    width: 320px;
    height: 69px;
    border: 1px dashed gray;
    color: #69778C;
    border-radius: 7px;
    font-family: 'Fakt';
    text-align: center;
    background:#F3F6F9;
    padding: 20px 0;
}

.paperclip{
    position: absolute;
    right: auto; 
    margin-left: 22px;
    margin-top: 24px;
}

#backgroundList{
    position: absolute;
    padding-left: 0;
}

#logoList{
    position: absolute;
    padding-left:0;

}

ul{
    list-style-type: none;
}

.draggable-list {
    border: 1px solid #ced4da;
    color: #34444f;
    padding: 0;
    list-style-type: none;
    margin-left: 48px;
    margin-right: 48px;
}

.log-list{
    margin-left: 17px;
    margin-right: 48px;
}

.log-list > li {
    border: 1px solid #ced4da;
    color: #34444f;
    height: 95px;
    border-bottom: none;
    padding-bottom: 110px;
}

.log-list > li .form-check-input{
    margin-left: 23px;
}

.log-list .log-checkbox-fatal {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 95px;
}

.draggable .item {
    margin: 0 10px;
    font-weight: 600;
}

.draggable-list li {
    background-color: #fff;
    display: flex;
    flex: 1;
}

.draggable-list li:not(:last-of-type) {
    border-bottom: 1px solid #ced4da;
}

.draggable-list li.over .draggable {
    background-color: #eaeaea;
}

.draggable-list .item-name {
    margin: 0 20px 0 0;
}

.draggable-list li.right .item-name {
    color: #3ae374;
}

.draggable-list li.wrong .item-name {
    color: #ff3838;
}

.draggable {
    cursor: move;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    justify-content: space-between;
    padding: 15px;
    flex: 1;
    position: relative;
}

.draggable .switch-button {
    left: 89%;
}

.draggable .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.draggable .title p {
    margin: 0 10px;
}

.draggable .title .logo {
    margin-left: 10px;
}

.form-select {
    font-family: 'Fakt';
    font-style: normal;
    font-weight: 250;
    font-size: 14px;
    line-height: 24px;
    color: #69778C;
}

#addRuleButton{
    position: relative; 
    margin-inline-end: auto;
    margin-bottom : 10px;
}

#removeRuleButton {
    border: none;
    background-color: transparent;
    outline: none;
}

#adyen_installments_div{
    font-family: 'Fakt';
    font-style: normal;
    font-size: 14px;
}

.additional-item-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.additional-item-container .additional-switch-button{
    position: absolute;
    left: 89%;
}

.additional-item {
    margin-left: 32px;
    margin-bottom: 0;
}

.choices__list--multiple .choices__item {
    background-color: #0d6efd!important;
}