/* Gift card Dropdown */
#giftCardSelectContainer {
    position: relative;
}

.gift-card-selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #b9c4c9;
    padding: 16px;
    background: white;
    position: relative;
}

.gift-card-selection hr {
    width: 100%;
}

.gift-card-selection select {
    width: 95%;
    border: 0px;
    outline: none;
    appearance: none;
}

.gift-card-select-wrapper {
    width: 100%;
    margin: 10px 0 25px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #b9c4c9;
}

.gift-card-select-wrapper::after {
    content: "\2304";
    vertical-align: top;
    line-height: 1;
    pointer-events: none;
}

.gift-card-select-wrapper:hover {
    border-color: #99a3ad;
    cursor: pointer;
}

.gift-card-selection select:hover {
    cursor: pointer;
}

.gift-card-select-wrapper:focus-within {
    border-color: #0075FF;
    box-shadow: 0 0 0 2px #99c2ff;
}

.gift-card-selection .list-cards {
    background: #fff;
    list-style: none;
    margin: 0 0 50px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 7px rgb(0 15 45 / 30%);
    max-height: 375px;
    z-index: 10;
    top: 10px;
    padding: 0;
}

.gift-card-selection ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.gift-card-selection ul li > * {
    pointer-events: none;
}

.gift-card-selection ul li:hover {
    background: rgba(230,233,235,.6);
}

.gift-card-selection select option {
    display: none;
}

.gift-card-selection .heading-img {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 26px;
}

.gift-card-selection p {
    margin: 0;
}

.gift-card-logo {
    width: 40px;
    height: 26px;
}

.gift-card-warning-msg {
    display: block;
    margin: 20px 0;
}

.gift-cards-container-cancel {
    text-align: center;
}

.gift-cards-container-cancel button {
    border: none;
    background: transparent;
    color: #00a1e0;
}

.gift-cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
}

.gift-cards-container .gift-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #b9c4c9;
    border-radius: 8px;
    margin: 5px 0;
    box-shadow: 0 5px 10px 0 lightgrey;
}

.gift-cards-container .gift-card .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 4px 0;
}

.gift-cards-container .gift-card .wrapper p {
    font-size: 13px;
}

.gift-cards-container .brand-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gift-cards-container .brand-container p {
    margin: 0 10px;
}

.gift-cards-container .gift-card-action {
    display: flex;
    align-items: center;
}

.gift-cards-container .gift-card-action a {
    cursor: pointer;
    font-size: 13px;
}

#cancelGiftCardButton {
    position: absolute;
    top : 0;
    right : 0;
}

#cancelGiftCardButtonStyling {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.gift-cards-info-message-container {
    margin-top: 10px;
}

#giftcard-container {
    padding: 2em;
}

#closeGiftCardModal {
    position: absolute;
    top: 0px;
    right: 0px;
}

.invisible {
    display: none;
}

#cancelGiftCardContainer {
    cursor: pointer;
}