/*Credit Cards*/

.adyen-checkout__label, .adyen-checkout__label__text {
	float: none !important;
	width: 100% !important;
	text-align: left !important;
}

.creditCard {
	margin-left: 27%;
}

.paymentMethod {
	list-style-type: none;
	margin: 10px 0 10px 0;
}

.paymentMethod_img {
	margin: 0 5px 0 5px;
	vertical-align: middle;
}

.additionalFields {
	display: inline-block;
	margin: 0 0 0 10px;
}

.hiddenFields {
	display: none;
}

.security-code-input .adyen-checkout__field {
	margin: 0 !important;
}

.security-code-input .adyen-checkout__field:first-child {
	display: none;
}

/*Checkout Components*/

.checkoutComponent {
	display:none;
	margin-top: 20px;
}

#component_ach .form-row label {
	float: left;
}

#type {
	list-style-type: none;
	line-height: 50px;
}

#type .form-row {
	margin: .5rem 0 .5rem;
}

#ssnValue {
    background: #fff;
    border: 1px solid #b9c4c9;
    border-radius: 3px;
    color: #001b2b;
    display: block;
    font-family: inherit;
    font-size: 16px;
    height: 40px;
    outline: none;
    padding: 5px 8px;
    position: relative;
    transition: border .2s ease-out,box-shadow .2s ease-out;
    width: 200px;
}

#ssn_klarna {
	margin-top: 16px;
}

/*Summary page*/

.summary-label{
	font-weight: bold;
}

.adyen-payment-details {
	max-width: 400px;
	margin: auto;
}

/* Custom Adyen */

.payment-method #type {
	margin-left: 22%;
}

.payment-method .issuer {
	margin: 1% 5%;
	display: none;
}

.payment-method-options .form-row {
	width: 25%;
}

.payment-method #type .logo {
	position: absolute;
}

.payment-method #type label {
	display: inline;
	float: none;
	width: auto;
}

.payment_method_label{
	padding: 0.75em 6em 0;
}

.openinvoiceInput {
	display: none;
}

.adyen-checkout__field {
	display: table;
}

.card-error {
	color: red;
	display: none;
}