name: Release Workflow

on:
  pull_request:

jobs:
  commit-the-cartridge:
    if: ${{ github.actor != 'renovate[bot]' || github.actor != 'lgtm-com[bot]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - sfra-version: 'v6.1.0'
            sfcc-hostname-secret: 'SFCC_HOSTNAME_SFRA6'
            code-version-secret: 'SFCC_CODE_VERSION_SFRA6'
    steps:
      - name: Checkout SFRA code
        uses: actions/checkout@v3
        with:
          repository: SalesforceCommerceCloud/storefront-reference-architecture
          ref: ${{ matrix.sfra-version }}
          ssh-key: ${{ secrets.SERVICE_ACCOUNT_SSH_KEY }}
          path: storefront-reference-architecture
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '14'
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: adyen-salesforce-commerce-cloud
          fetch-depth: 0
      - name: Install SFRA dependencies
        working-directory: storefront-reference-architecture
        run: npm install
      - name: Install Adyen SFCC dependencies
        working-directory: adyen-salesforce-commerce-cloud
        run: npm install
      - name: Build the code 
        working-directory: adyen-salesforce-commerce-cloud
        run: |
          npm run transpile && npm run compile:js
          mkdir -p $GITHUB_WORKSPACE/cartridges
          cp -R cartridges/* $GITHUB_WORKSPACE/cartridges
        shell: bash
      - name: Commit /cartridges folder
        if: success()
        run: | 
          cd adyen-salesforce-commerce-cloud
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add cartridges/**/*
          git commit -m "chore: committing the built /cartridge folder"
          git fetch origin
          git push origin HEAD:${{ github.head_ref }} --force-with-lease
      - name: Commit .project files 
        if: success()
        run: | 
          cd adyen-salesforce-commerce-cloud/cartridges
            for name in "int_adyen_overlay" "int_adyen_SFRA" "bm_adyen"; do
              version=$(grep -oP "VERSION:\s*'(\d+\.\d+\.\d+)'" int_adyen_overlay/cartridge/adyenConstants/constants.js | cut -d "'" -f 2)
              echo -e "<?xml version=\"1.0\" encoding=\"UTF-8\"?>
              <projectDescription>
                <name>${name}</name>
                <comment>v23.3.1</comment>
                <projects></projects>
                <buildSpec>
                  <buildCommand>
                    <name>com.demandware.studio.core.beehiveElementBuilder</name>
                    <arguments></arguments>
                  </buildCommand>
                </buildSpec>
                <natures>
                  <nature>com.demandware.studio.core.beehiveNature</nature>
                </natures>
              </projectDescription>" > "${name}/.project"
            done
            git add .
            git config --local user.email "actions@github.com"
            git config --local user.name "GitHub Actions"
            git commit -m "chore: committing the project files"
            git fetch origin
            git push origin HEAD:${{ github.head_ref }} --force-with-lease